<p id="notice"><%= notice %></p>

<h1>Enologists</h1>

<table>
  <thead>
    <tr>
      <th>Nº</th>
      <th>Name</th>
      <th>Age</th>
      <th>Nationality</th>
      <th>Magazine</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enologists.each do |enologist| %>
      <tr>
        <td><%= enologist.id %></td>
        <td><%= enologist.name %></td>
        <td><%= enologist.age %></td>
        <td><%= enologist.nationality %></td>
        <td><%= sort_magazines enologist.enologist_magazines %></td>
        <td><%= link_to 'Show', enologist %></td>
        <td><%= link_to 'Edit', edit_enologist_path(enologist) %></td>
        <td><%= link_to 'Destroy', enologist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enologist', new_enologist_path %>
<%= link_to 'Wines', root_path %>
<%= link_to "Magazines",  magazines_path %>
