<p id="notice"><%= notice %></p>

<h1>Enologist Wines</h1>

<table>
  <thead>
    <tr>
        <th>Score</th>
        <th>Wine</th>
        <th>Enologist</th>
        <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enologist_wines.each do |enologist_wine| %>
      <tr>
        <td><%= enologist_wine.score  %></td>
        <td><%= enologist_wine.wine.name  %></td>
        <td><%= enologist_wine.enologist.name  %></td>
        <td><%= link_to 'Show', enologist_wine %></td>
        <td><%= link_to 'Edit', edit_enologist_wine_path(enologist_wine) %></td>
        <td><%= link_to 'Destroy', enologist_wine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enologist Wine', new_enologist_wine_path %>
<%= link_to 'Wines', wines_path %>